<h4>Edit Recipe</h4>

<label>New Recipe Title:</label>
<input [(ngModel)]="selectedRecipe.title">
<br>

<label>New Recipe Description:</label>
<input [(ngModel)]="selectedRecipe.description">
<br>

<label>New Recipe Ingredients:</label>
<input [(ngModel)]="selectedRecipe.ingredients">
<br>

<label>New Recipe Directions:</label>
<input [(ngModel)]="selectedRecipe.directions">
<br>

<label>New Recipe Comments:</label>
<input [(ngModel)]="selectedRecipe.comments">
<br>

<label>New Recipe Categories:</label>
<input [(ngModel)]="selectedRecipe.categories">
<br>

<label>New Recipe URL:</label>
<input [(ngModel)]="selectedRecipe.url">
<br>

<label>New Recipe Meal:</label>
<input [(ngModel)]="selectedRecipe.meal">
<br>
