<!-- <h3>Add New Recipe</h3>
<div>
  <div>
    <label>Recipe Name:</label>
    <br>
    <input #newName>
  </div>

  <div>
    <label>Recipe Description:</label>
    <br>
    <input #newDescription>
  </div>

  <div>
    <label>Recipe Ingredients:</label>
    <br>
    <textarea #newIngredients></textarea>
  </div>

  <div>
    <label>Recipe Directions</label>
    <br>
    <textarea #newDirections></textarea>
  </div>

  <div>
    <label>Recipe Comments</label>
    <br>
    <textarea #newComments></textarea>
  </div>

  <div>
    <label>Recipe Categories</label>
    <br>
    <textarea #newCategories></textarea>
  </div>

  <div>
    <label>Recipe Url</label>
    <br>
    <textarea #newUrl></textarea>
  </div>

  <div>
    <label>Recipe Meal</label>
    <br>
    <textarea #newMeal></textarea>
  </div>

  <button (click)="submitForm(newName.value, newDescription.value, newIngredients.value, newDirections.value, newComments.value, newCategories.value, newUrl.value, newMeal.value); newName.value=''; newDescription.value=''; newIngredients.value=''; newDirections.value=''; newComments.value=''; newCategories.value=''; newUrl.value=''; newMeal.value=''">Add</button>

</div>

<div>
  <app-home></app-home>
</div>

<br><br><br><br><br><hr> -->


<div class="container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description">
    </div>
    </div>
  </div>
  <!--ingredients-->
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add ingredient</h4>
      </div>

        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of myForm.controls.ingredients.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Ingredient {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.ingredients.controls.length > 1" (click)="removeIngredient(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-md-2">
                <label>quantity</label>
                <input type="text" class="form-control" formControlName="quantity">
              </div>
              <div class="form-group col-md-4">
                <label>quantity type</label>
                <input type="text" class="form-control" formControlName="quantityType">
              </div>
              <div class="form-group col-md-6">
                <label>ingredient</label>
                <input type="text" class="form-control" formControlName="ingredient">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addIngredient()" style="cursor: default">
            Add another ingredient +
          </a>
        </div>
        <div class="clearfix"></div>
        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
    </div>
  </div>
  <!--ingredients-->
  <!--directions-->
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add direction</h4>
      </div>

        <div formArrayName="directions">
          <div *ngFor="let direction of myForm.controls.directions.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Direction {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.directions.controls.length > 1" (click)="removeDirection(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-md-2">
                <label>step</label>
                <input type="text" class="form-control" formControlName="step">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addDirection()" style="cursor: default">
            Add another direction +
          </a>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
  <!--directions-->
  <!--categories-->
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add category</h4>
      </div>

        <div formArrayName="categories">
          <div *ngFor="let category of myForm.controls.categories.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Category {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.categories.controls.length > 1" (click)="removeCategory(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-md-2">
                <label>genre</label>
                <input type="text" class="form-control" formControlName="genre">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addCategory()" style="cursor: default">
            Add another category +
          </a>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
  <!--categories-->
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Recipe Comments</label>
        <input type="text" formControlName="comments">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Recipe Url</label>
        <input type="text" formControlName="url">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Recipe Meal</label>
        <input type="text" formControlName="meal">
      </div>
    </div>
  </div>
  <div class="margin-20">
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
  </div>
</form>
</div>

<br><br><br><br><br><hr>
